.App {
  text-align: center;
}

.nav-bar {
  .nav-bar-list {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .nav-bar-item {
    padding: 10px;
    list-style: none;
    display: inline-block;
    .selected {
      color: red;
    }
  }
}
